
@{
    ViewBag.Title = "Articles";
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>

        <div class="jumbotron text-center">
            <h1>@ViewBag.Title</h1>
        </div>

        <div class="container-fluid">
            <h3>New Zealand poised to introduce clean car standards and incentives to cut emissions</h3>
            <p>Robert McLachlan</p>
            <p>July 31, 2019</p>
            <br />
            <br />
            <p>
                The New Zealand government has proposed new fuel standards to cut greenhouse emissions, along with consumer rebates for cleaner cars – paid for by fees on high-polluting cars.

                The long-awaited proposed changes would bring New Zealand in line with most other developed countries; apart from New Zealand, Russia and Australia are the last remaining OECD nations without fuel efficiency standards.

                New Zealand’s long tradition of not regulating its car market, combined with substantial indirect subsidies for private cars, makes addressing emissions from the transport sector both challenging and highly significant.

            </p>
            <br />
        </div>
        <div class="container-fluid">
            <h3>Charging Ahead With a New Electric Car</h3>
            <p>By Joshua Hammer</p>
            <p>AUGUST 2010</p>
            <br />
            <br />
            <p>
                The middle of 2007, Shai Agassi, a software multimillionaire turned environmental entrepreneur, was pondering how to make an electric car affordable to the average Joe. At that point, the all-electric vehicle—as opposed to electric-gasoline hybrids such as the Toyota Prius—was widely derided as impractical. General Motor’s EV1 had appeared in 1996 and, despite its cultlike following, the company stopped producing it after three years, saying the program was not commercially successful. The most advanced electric vehicle, the Tesla Roadster, was about to be released; it would travel some 200 miles on a fully charged battery, but at $109,000, the sleek sports car would be accessible only to the affluent; the company says about 1,200 of the vehicles are on the road. More affordable cars, at the time mostly in the planning stages, would be equipped with batteries averaging just 40 to 100 miles per charge. The power limitations had even spawned a new expression—“range anxiety,” the fear of being stranded with a dead battery miles from one’s destination.
            </p>
        </div>


        <div class="card-footer text-center">
            <footer>
                <p>Copyright @DateTime.Now.Year</p>
            </footer>
        </div>



    </body>
    </html>
    

